name: Katalon Automation Test (Live Web)
on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Cho phép bạn nhấn nút chạy thủ công

jobs:
  katalon-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Katalon Studio Project
        uses: docker://katalonstudio/katalon:9.6.0
        with:
          args: >
            katalonc -noSplash -runMode="console" 
            -projectPath="./" 
            -testSuitePath="Test Suites/TS_ITmarket" 
            -browserType="Chrome (headless)" 
            -executionProfile="default"
            -apiKey=${{ secrets.KATALON_API_KEY }}
            --config -webui.autoUpdateDrivers=false

      - name: Archive Reports
        if: always() # Luôn chạy bước này kể cả test bị Fail để có báo cáo xem
        uses: actions/upload-artifact@v4
        with:
          name: Katalon-Reports
          path: Reports
